{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

<form action="/" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="cash" placeholder="Cash" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Add Cash</button>
</form>

<br>

<table class = "table table-striped">

  <thead>
    <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Shares</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <td colspan="4"></td>
      <td> {{ (stocks|sum(attribute='total') + cash)|usd }} </td>
    </tr>

  <tbody>

    {% for stock in stocks %}
    <tr>
      <td> {% filter upper %} {{ stock['symbol'] }} {% endfilter %} </td>
      <td> {{ stock['name'] }} </td>
      <td> {{ stock['SUM(shares)'] }} </td>
      <td> {{ stock['price'] | usd }} </td>
      <td> {{ stock['total'] | usd }} </td>
    </tr>
    {% endfor %}

    <tr>
      <td>Cash</td>
      <td> </td>
      <td> </td>
      <td> </td>
      <td> {{ cash | usd }} </td>
    </tr>

  </tbody>
</table>
{% endblock %}
<tbody>

